@using BasketballManager.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>    
</div>

<hr>

<div>
    <h2 class="text-center"><a href="/Teams/Register">Register Your Team</a></h2>
</div>