@model BasketballManager.Web.ViewModels.MyTeam.RegisterMyTeamViewModel
@{
    this.ViewData["Title"] = "Register Team";
}
<h2 class="text-center">Create your team by filling all the information!</h2>

<div class="col-md-4">
    <form asp-controller="Team" asp-action="Register" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Owner"></label>
            <input asp-for="Owner" class="form-control" />
            <span asp-validation-for="Owner" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Coach"></label>
            <input asp-for="Coach" class="form-control" />
            <span asp-validation-for="Coach" class="text-danger"></span>
        </div>
     <h1/>
     <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>
